
.recent-article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}


.recent-article .article-content {
    margin-top: 20px;
}

.other-news .card {
    margin-bottom: 20px;
}

.other-news .card img {
    height: 200px;
    object-fit: cover;
}

.article-content {
    margin: 2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.img-container {
    margin: 0 auto;
    width: 60rem;
}

.img-container img {
    object-fit: cover;
}

.text-container{
    margin: 2rem 0rem 1rem;
}

.text-container p{
    padding: 0.8rem;
}

