body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

/*ESTILOS PARA EL NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    background-image: url('../img/black-paper.png'); /* Ruta a la imagen de textura */
    padding: 10px 20px;
}

.navbar-izquierda {
    display: flex;
    align-items: center;
}

.navbar-izquierda a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 70px;
    margin-right: 15px;
}

.titulo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.titulo:hover {
    color: red;
}

.nav-derecha {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-derecha li {
    margin-left: 20px;
}

.nav-derecha a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-derecha a:hover {
    color: red;
}

a[href="#top"] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    z-index: 99;
}

a[href="#top"]:hover {
    color: red; /* Optional: Change color on hover */
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.container-mayor-izquierda{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mayor-izquierda img{
    width: 100%;
}

.container-menor-derecha{
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.container-menor-derecha h2 {
    color: red;
    font-size: 30px; /* Tamaño de fuente para el título */
    text-align: center; /* Centrar el texto del párrafo */
    margin-bottom: 40px; /* Margen inferior para separarlo del párrafo */
}

.container-menor-derecha p {
    color: white;
    font-size: 16px; /* Tamaño de fuente para el párrafo */
    text-align: center; /* Centrar el texto del párrafo */
    margin: 0;
}

.conocenos-btn {
    margin-top: 30px; /* Margen superior para separar el botón del texto */
}

.banner {
    background-color: #151414; /* Fondo gris claro */
    background-image: url('../img/dark-denim-3.png'); /* Ruta a la imagen de textura */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 20px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centra el texto horizontalmente */
}

.banner h2 {
    margin: 0; /* Quita los márgenes predeterminados */
    font-size: 2em; /* Tamaño de fuente para el encabezado */
    color: red; /* Color del texto */
}

footer{
    background-color: #000000;
    background-image: url('../img/black-paper.png'); /* Ruta a la imagen de textura */
    color: rgb(255, 255, 255); /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    padding: 20px;
    width: 100%; /* Ancho completo */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
    .container-mayor-izquierda, .container-menor-derecha {
        flex: 100%;
    }
}