
.recent-article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}


.recent-article .article-content {
    margin-top: 1rem;
}

.otros-articulos .card {
    margin: 1rem;
}

.otros-articulos .card img {
    height: 200px;
    object-fit: cover;
}

.article-content {
    margin: 2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

label{
    color: white;
}

.img-container {
    margin: 0 auto;
    width: 60rem;
}

.img-container img {
    object-fit: cover;
}

.text-container{
    margin: 2rem 0rem 1rem;
}

.text-container p{
    padding: 0.8rem;
}

.form-group button{
    margin-top: 0.5rem;
}

#comment{
    max-width: 50rem;
}

.caja-comentarios label{
    margin: 1.5rem 0 1rem 0;
    font-size: 1.5rem;
}

.comentarios{
    margin: 1rem; 
    text-align: left;
}

.card-body {
    background-color: #151414;
    background-image: url('../img/dark-denim-3.png');
}

.card-title{
    color:firebrick;
}

a {
    text-decoration: none;
}

/* Responsiveness */

@media (max-width: 768px) {
    .banner, .recent-article {
      padding: 1rem;
    }
  
    h4 {
      font-size: 1.5rem;
    }
  
    .img-container {
      max-width: 100%;
    }
  
    .text-container p {
        padding: 0.5rem;
    }
  }
  
