/* GENERALES */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

@font-face {
    font-family: 'horror-font-h2';
    src: url('../fonts/horror-font-h2.ttf') format('truetype');
}

@font-face {
    font-family: 'horror-font-light';
    src: url('../fonts/horror-font-light.ttf') format('truetype');
}

@font-face {
    font-family: 'candara';
    src: url('../fonts/Candara.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
}

h2 {
    color: red;
    font-family: 'horror-font-h2';
    margin: 0;
}

h3 {
    color: red;
    font-size: 3rem;
    font-family: 'horror-font-light';
    margin: 0;
}

p {
    color: white;
    font-size: 1rem;
    font-family: 'candara';
    margin: 0;
}

.banner {
    background-color: #151414;
    background-image: url('../img/dark-denim-3.png');
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

a[href="#top"] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    z-index: 99;
}

a[href="#top"]:hover {
    color: red;
}

.btn-rojo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'ubuntu';
}

/*ESTILOS PARA EL NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    background-image: url('../img/black-paper.png');
    padding: 10px 20px;
}

.navbar-izquierda {
    display: flex;
    align-items: center;
}

.navbar-izquierda a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 70px;
    margin-right: 15px;
}

.logo:hover {
    content: url('../img/logo-3-red.png');
}

.titulo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.titulo:hover {
    color: red;
}

.nav-derecha {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-derecha li {
    margin-left: 20px;
}

.nav-derecha a {
    text-decoration: none;
    color: white;
    font-size: 1.05rem;
    font-family: 'ubuntu';
    transition: color 0.3s ease;
}

.nav-derecha a:hover {
    color: red;
}

/* PARTE RESPONSIVE MENU */

.menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
}

.menu-icon:hover {
    color: red;
}

#menu-toggle {
    display: none;
}

.fullscreen-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.fullscreen-menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fullscreen-menu-links a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'ubuntu';
    transition: color 0.3s ease;
}

.fullscreen-menu-links a:hover {
    color: red;
}

.cerrar-menu {
    display: none;
    cursor: pointer;
    margin-top: 50px;
}

/* FOOTER */

footer {
    background-color: #000000;
    background-image: url('../img/black-paper.png');
    color: rgb(255, 255, 255);
    text-align: center;
    height: 70px;
    padding: 20px;
    width: 100%;

}

.copyright p {
    font-size: 1.1rem;
}

@media screen and (max-width: 1050px) {
    .nav-derecha {
        display: none;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
    }

    #menu-toggle:checked~.fullscreen-menu {
        display: flex;
    }

    /* Mostrar el botón de cerrar menú cuando el checkbox está checked */
    #menu-toggle:checked~.fullscreen-menu .cerrar-menu {
        display: block;
    }
}

.navbar-partial {
    width: 100%;
    height: 100px;
    border: none;   
}



