.card {
    margin-bottom: 20px;
  }
  
  .card img {
    max-height: 200px;
    object-fit: cover;
  }
  
  .input-group {
    max-width: 150px;
    margin-top: 10px;
  }
  
  .btn-danger {
    margin-top: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  .contenedor {
    background-image: url('../img/card-bg.jpg');
  }

  h4{
    color: red;
    font-size: 3rem;
    font-family: 'horror-font-light';
    margin: 0;
  }
  /* .titulo-resumen{
    font-size: 2rem;
  } */
  